body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}

.menu-background {
  height: 2000px; /* Full-height: remove this if you want "auto" height */
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 80; /* Stay on top */
  top: -300px; /* Stay at the top */
  left: -200px;
  background-color: #faff00; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: -100%;
  transform: rotate(12deg);
}

.logo {
  z-index: 81;
  position: absolute;
  left: 80px;
  top: 30px;
}

.logo img {
  height: 50px;
}

/* Content */

/* First slide */

.text-name {
  position: absolute;
  top: 5%;
  left: 30%;
  color: #ffffff;
  font-size: 28px;
}

.text-position {
  position: absolute;
  top: 15%;
  left: 28%;
  color: #faff00;
  font-size: 28px;
}

.img-photo {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 10px solid #ffffff;
}

/* Just fact */

.fact {
  position: absolute;
  top: 35%;
  left: 38%;
  font-size: 32px;
  color: black;
  background-color: #faff00;
  transform: skewX(-12deg);
  width: 180px;
}

/* Facts list */

.fact-list {
  position: absolute;
  top: 45%;
  left: 28%;
  color: white;
  font-size: 22px;
}

.fact-list ul {
  list-style: none;
}

.fact-list li {
  margin: 20px;
}

.first-fact {
  padding-left: 40px;
}

.second-fact {
  padding-left: 30px;
}

.third-fact {
  padding-left: 20px;
}

.fourth-fact {
  padding-left: 10px;
}

.fifth-fact {
  padding-left: 0px;
}

.cv-button {
  position: absolute;
  bottom: 15%;
  right: 15%;
  background-color: #ffffff;
  transform: skewX(-12deg);
}

.cv-button a {
  display: block;
  padding: 12px 15px 12px 15px;
  color: black;
  transform: skewX(12deg);
}

.cv-button:hover {
  background-color: #faff00;
}

/* Responsive for mobile*/

@media (max-width: 940px) {
  .menu-background {
    display: none;
  }

  .logo {
    display: none;
  }

  #menu {
    display: none;
  }

  .container {
    display: flex;
    justify-content: flex-start;
  }

  .text-name {
    display: block;
    position: relative;
    top: 2%;
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
  }

  .text-position {
    display: block;
    position: relative;
    top: 4%;
    left: 0;
    width: 100%;
    color: #faff00;
    font-size: 12px;
    text-align: center;
  }

  .photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    width: 100%;
  }

  .img-photo {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    width: 40%;
  }

  .fact {
    position: relative;
    top: 12%;
    left: unset;
    margin: auto;
    font-size: 18px;
    color: black;
    background-color: #faff00;
    transform: skewX(-12deg);
    width: 150px;
  }

  .fact-list {
    position: relative;
    top: 15%;
    left: unset;
    color: white;
    font-size: 14px;
  }

  .fact-list ul {
    list-style: none;
  }

  .fact-list li {
    margin: 10px;
    padding: 0;
    text-align: center;
  }

  .cv-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: unset;
    right: unset;
    top: 10%;
    background-color: #ffffff;
    transform: skewX(-12deg);
  }

  .cv-button a {
    display: unset;
    padding: 12px 15px 12px 15px;
    color: black;
    transform: skewX(12deg);
  }
}
